### Chi-Squared Testing Using the Census Income Data Set

Data used is from the UCI Machine Learning Respository
https://archive.ics.uci.edu/dataset/20/census+income  
Download the Census Income data as a .csv for analysis  
See README.md for methodology in model selection & filtering

#### Import Libraries

In [1]:
# Load the following libraries
import pandas as pd # Pandas dataframes
import numpy as np  # 
import matplotlib.pyplot as plt # For plotting
from matplotlib import gridspec
import math # For general math equations
from scipy import stats # For statistics
from scipy.stats import norm # normal continuous random variable

#### Load the Census Income Data

In [2]:
# Use Pandas to read in all of the census income data
census_all = pd.read_csv('census.csv', sep= ',')
# Identify the data types 
census_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32560 non-null  int64
 1   workclass       32560 non-null  object
 2   fnlwgt          32560 non-null  int64
 3   education       32560 non-null  object
 4   education-num   32560 non-null  int64
 5   marital-status  32560 non-null  object
 6   occupation      32560 non-null  object
 7   relationship    32560 non-null  object
 8   race            32560 non-null  object
 9   sex             32560 non-null  object
 10  capital-gain    32560 non-null  int64
 11  capital-loss    32560 non-null  int64
 12  hours-per-week  32560 non-null  int64
 13  native-country  32560 non-null  object
 14  income          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
# Use Pandas to read in selected columns from the census income data
# Removing all non-object columns for Chi-Squared Testing of qualitative variables
census_filt = pd.read_csv('census.csv', sep= ',', usecols=['race','education','income','marital-status','workclass','occupation','native-country'])
# View first 5 rows of filtered census income data 
census_filt.head()

,workclass,education,marital-status,occupation,race,native-country,income
0,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,White,United-States,<=50K
1,Private,HS-grad,Divorced,Handlers-cleaners,White,United-States,<=50K
2,Private,11th,Married-civ-spouse,Handlers-cleaners,Black,United-States,<=50K
3,Private,Bachelors,Married-civ-spouse,Prof-specialty,Black,Cuba,<=50K
4,Private,Masters,Married-civ-spouse,Exec-managerial,White,United-States,<=50K